name: Publish to website

env:
  BRANCH_NAME: master

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/publish-to-website.yml
      - config/urls.yaml
      - contributor/**
      - introduction/**
      - product-owner/**
      - scripts/**
      - trusted-committer/**
      - workbook/**

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Learning Path
        uses: actions/checkout@v2
        with:
          path: ./InnerSourceLearningPath
      - name: Checkout innersourcecommons.org
        uses: actions/checkout@v2
        with:
          ssh-key: ${{ secrets.WEBSITE_DEPLOY_KEY }}
          path: ./innersourcecommons.org
          repository: InnerSourceCommons/innersourcecommons.org
          fetch-depth: 0
      - name: Branch innersourcecommons.org
        working-directory: innersourcecommons.org
        run: |
            git checkout --track origin/$BRANCH_NAME || git checkout -b $BRANCH_NAME
            git merge -X theirs origin/master --no-edit
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Build
        working-directory: InnerSourceLearningPath/scripts
        run: |
            npm ci
            TOKEN=${{ secrets.GITHUB_TOKEN }} node generate_learning_path_markdown.js
            cp -r newsite/. ../../innersourcecommons.org/content/learn/learning-path/
      - name : Commit
        working-directory: innersourcecommons.org
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Update Learning Path articles"
          git push origin $BRANCH_NAME
