name: Spelling & Styles

on:
  push:
    branches:
    - main
    paths:
    - '**.asciidoc'
  pull_request:
    branches:
    - main

jobs:
  vale:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Vale Linting
      uses: errata-ai/vale-action@reviewdog
      with:
        files: '["project-leader/*.asciidoc"]'
        filter_mode: file
        debug: true
        level: error
